.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #1877f2; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
  box-sizing: border-box;
  width: 100%;
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: 700;
  
}

/* Barra de pesquisa */
.search-box {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

.search-box input {
  width: 60%;
  max-width: 350px;
  padding: 8px 12px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 15px;
}

.amigos {
  color: white;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s ease;
}

.amigos:hover {
  opacity: 0.8;
}


.favoritos:hover,
.icon:hover,
.logo:hover {
  cursor: pointer;
}
